body{
	background-color:#000000;
	font-family:"Trebuchet MS";
	text-align:center;
	margin-top:0.5%;
	color:#000000
}
h1{
	margin:auto;
	font-family:Impact;
	font-size:84px;
}
h2{
	margin-top:0px;
	padding-top:0px;
	font-size:16px;
}
h3{
	font-size:16px;
}
p{
	font-size:12px
}
#content{
	color:#FFFFFF;
	margin-bottom:0.5%
}
#disqus_thread{
	text-align:left;
}
#hof{
	color:#00CCCC;
	font-weight:bold;
	margin-bottom:0.5%
}
a:link {
	text-decoration:none;
	color:#00CCCC;
	font-weight:bold;
}
a:visited {
	text-decoration:none; 
	color:#00CCCC;
	font-weight:bold;
}
a:hover {
	text-decoration:underline; 
	color:#FFFFFF;
	font-weight:bold;
}
a:active {
	text-decoration:line-through;
	color:#FFFFFF;
	font-weight:bold;
}